.business-wrap .container-wrap {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 1340px;
  min-width: 300px;
  position: relative;
  overflow: auto;
}

.business-wrap .container-wrap .bus-logo {
  background: url(http://lcimg.sulekhalive.com/images/business/sulekha-business-logo.png) no-repeat;
  width: 202px;
  float: left;
  font-size: 0;
  height: 30px;
  line-height: 0;
  margin: 5px 0;
  text-indent: -9999px;
}

.business-wrap .container-wrap .dow-app {
  background: url(http://lcimg.sulekhalive.com/images/business/dow-app.png) no-repeat left center;
  padding: 4px 0 4px 25px;
  margin-top: 0;
  color: #4d4d4d;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  float: left;
}

.business-wrap .container-wrap .links {
  float: right;
  padding-top: 5px;
}

/*.business-wrap .business-banner {
  width: 100%;
  background-color: #f0e6dc;
  min-height: 300px;
}

.business-wrap .business-banner {
  width: 100%;
  background-color: #f0e6dc;
  min-height: 300px;
}

.business-wrap .business-banner .container-wrap-banner {
  margin: 0 auto;
  max-width: 1340px;
  min-width: 300px;
  padding: 15px 20px;
  position: relative;
}

.business-wrap .business-banner .container-wrap-banner .reg-wrap {
  width: 85%;
  margin: 0 auto;
  padding: 10px 0;
}

.business-wrap .container-wrap-banner .business-banner-image {
  display: block;
  height: auto;
  max-width: 100%;
}

.business-wrap .container-wrap-banner .featur-tit {
  font-size: 18px;
  font-weight: bold;
  color: #787878;
  margin: 20px 0;
  display: block;
}

.business-wrap .business-banner .container-wrap-banner {
  font-size: 18px;
  font-weight: bold;
  color: #787878;
  margin: 20px 0;
  display: block;
}*/