footer {
    background-color: #f8f8f8;
    padding: 40px 0;
    font-size: 15px;
}

footer .footer-center p {
  display: inline-block;
}

footer .footer-right, footer .footer-center {
  margin-top: 20px;
}

footer .footer-right p {
  display: inline-block;
}

footer .footer-right .footer-company-about {
  line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

footer .footer-right span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .footer-right .footer-icons {
    margin-top: 25px;
}

footer .footer-right .footer-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #3c8dbc;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    margin-right: 3px;
    margin-bottom: 5px;
}