<div ng-include="'./views/header.html'"></div>
<section id="banner-wrap">
  <div class="banner">
    <div class="search-form">
      <h1>Connect with service experts to get your job done</h1>
      <div class="search-detail">
        <div class="group-city" id="mycities">
          <ui-select ng-model="selected.value">
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (home.itemArray | filter: $select.search) track by item.id">
                <span ng-bind="item.name"></span>
            </ui-select-choices>
          </ui-select>
        </div>
        <button type="button" class="button-search" id="SearchBtn">Find</button>
        <div class="group-city-search">
          <input name="group-city-need" id="SearchInput" placeholder="What service do you need today?" class="category-search" autocomplete="off">
        </div>
      </div>
    </div>

    <ul class="category">
      <li ng-repeat="category in home.categorys track by $index">
        <a ng-click="home.togleCategory($index)">{{category.title}}</a>
        <div class="menu-container" ng-show="home.isShow">
          <div class="subtabs-wrap">
            <ul class="tabmenu list-inline">
              <li class="subtabs"
                  ng-mouseover="home.isHover = $index"
                  ng-mouseleave="home.isHover = 0"
                  ng-repeat="subtab in home.categorys[home.index].listtab track by $index">
                <a class="subtab">{{subtab.namesubtab}}</a>
              </li>
            </ul>
            <div class="tab-block">
              <div class="grid-block" ng-repeat="listsubs in category.listtab[home.isHover].listsubtab">
                <ul>
                  <li ng-repeat="listsub in listsubs">
                    <a class="subtab-name" ng-show="!listsub.isTitle">{{listsub.name}}</a>
                    <a class="subtab-name" ng-show="listsub.isTitle"><strong>{{listsub.name}}</strong></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<div ng-include="'./views/main.html'"></div>
<div ng-include="'./views/footer.html'"></div>