<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a ui-sref="dashboard" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">MCall</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">MizzCall</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <!-- <img class="user-image" alt="User Image"> -->
                            <span class="hidden-xs">User Name</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <!--                 <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
                                <p>
                                    Admin
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a ng-click="dashboard.logout()" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>User Name</p>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header">MAIN MANAGE</li>
                <li class="treeview">
                    <a ui-sref="dashboard">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a ui-sref="response">
                        <i class="fa fa-files-o"></i>
                        <span>Respone</span>
                        <span class="pull-right-container">
                  <span class="label label-primary pull-right">4</span>
                        </span>
                    </a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
              {{dashboard.business.businessName}}
              <small>business name</small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Contact Information</h3>
                        </div>
                        <div class="box-body">
                            <div id="rootwizard-custom-circle">
                                <div class="navbar">
                                    <div class="navbar-inner">
                                        <ul class="bwizard-steps-o">
                                            <li ng-class="{ 'active': dashboard.currentStep === 1 }">
                                                <a><i class="glyphicon glyphicon-send mln"></i>
                                                <p class="anchor">1. Address</p>
                                                <p class="description">Provide information</p>
                                                </a>
                                            </li>
                                            <li ng-class="{ 'active': dashboard.currentStep === 2 }">
                                                <a><i class="glyphicon glyphicon-shopping-cart"></i>
                                                <p class="anchor">2. Cart detail</p>
                                                <p class="description">Check products</p>
                                                </a>
                                            </li>
                                            <li ng-class="{ 'active': dashboard.currentStep === 3 }">
                                                <a><i class="glyphicon glyphicon-check"></i>
                                                <p class="anchor">3. Finish</p>
                                                <p class="description">Confirm all</p></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="bar" class="progress active">
                                    <div class="bar progress-bar progress-bar-red" ng-style="{width: dashboard.widthProgress}">
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div ng-show="dashboard.currentStep === 1" id="tab2-wizard-custom-circle" class="fadeIn">
                                        <h3 class="mbxl">Delivery information</h3>
                                        <form name="step1">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputFirstName" class="control-label">Name</label>
                                                        <input id="inputDistrict" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputCity" class="control-label">Sure Name <span class="require">*</span></label>
                                                        <input id="inputCity" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="inputStreet" class="control-label">Business name <span class="require">*</span></label>
                                                        <input id="inputStreet" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputFirstName" class="control-label">Address <span class="require">*</span></label>
                                                        <input id="inputDistrict" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputCity" class="control-label">Street name <span class="require">*</span></label>
                                                        <input id="inputCity" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputFirstName" class="control-label">Area <span class="require">*</span></label>
                                                        <input id="inputDistrict" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputCity" class="control-label">Landmark <span class="require">*</span></label>
                                                        <input id="inputCity" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputFirstName" class="control-label">City <span class="require">*</span></label>
                                                        <input id="inputDistrict" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputCity" class="control-label">Pin code <span class="require">*</span></label>
                                                        <input id="inputCity" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="inputPostCode" class="control-label">Post Code</label>
                                                        <input id="inputPostCode" type="text" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="selCountry" class="control-label">Country</label>
                                                        <select id="selCountry" class="form-control">
                                                            <option value="">Select a Country</option>
                                                            <option value="">United States</option>
                                                            <option value="">England</option>
                                                            <option value="">France</option>
                                                            <option value="">Spain</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div ng-show="dashboard.currentStep === 2" id="tab3-wizard-custom-circle" class="fadeIn">
                                        <h3 class="mbxl">Checking products</h3>
                                        <form action="#" class="form-horizontal ng-pristine ng-valid">
                                            <div class="form-group">
                                                <label for="inputUsername" class="col-md-2 control-label">Product 1:</label>
                                                <div class="col-md-10">
                                                    <input type="text" placeholder="Detail" class="inputUsername form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputUsername" class="col-md-2 control-label">Product 2:</label>
                                                <div class="col-md-10">
                                                    <input type="text" placeholder="Detail" class="inputUsername form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputUsername" class="col-md-2 control-label">Product 3:</label>
                                                <div class="col-md-10">
                                                    <input type="text" placeholder="Detail" class="inputUsername form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="selCountry" class="col-md-2 control-label">Check out method</label>
                                                <div class="col-lg-3 col-md-5">
                                                    <select id="selCountry" class="form-control">
                                                        <option value="">Cash</option>
                                                        <option value="">Visa Card</option>
                                                        <option value="">Credit Card</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div ng-show="dashboard.currentStep === 3" id="tab4-wizard-custom-circle" class="fadeIn">
                                        <h3 class="mbxl">Thank you!</h3>
                                        <p>Congragulation! You have completed checkout steps.</p>
                                        <p>Thank you for use our products.</p>
                                    </div>
                                    <div class="action text-right">
                                        <button ng-click="dashboard.previous()" ng-disabled="dashboard.currentStep === 1" type="button" name="previous" value="Previous" class="btn btn-flat btn-info button-previous"><i class="fa fa-arrow-circle-o-left mrx"></i>Previous</button>
                                        <button ng-click="dashboard.next()" ng-disabled="dashboard.currentStep === 3" type="button" name="next" value="Next" class="btn btn-flat btn-info button-next mlm">Next<i class="fa fa-arrow-circle-o-right mlx"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
