<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h3>Company logo</h3>
                <ul class="list-inline">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Video</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <p>Mizz Call</p>
            </div>
            <div class="col-xs-4 footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>21 Revolution Street</span> India</p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <p>+91 172 464 0092</p>
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">support@company.com</a></p>
                </div>
            </div>
            <div class="col-xs-4 footer-right">
                    <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>