<div class="s1-footer">
  <div class="footer-wrap">
    <div class="footer-main">
      <div ng-repeat="detain in [1,2,3,4]">
        <h4>Corporate</h4>
        <ul>
          <li><a title="About us" href="#">About us</a></li>
          <li><a title="Contact us" href="#">Contact us</a></li>
          <li><a title="Meet our users" href="#">Meet our users</a></li>
          <li><a title="Media coverage" href="#">Media coverage</a></li>
          <li><a title="Ads&nbsp;/&nbsp;commercials" href="#">Ads&nbsp;/&nbsp;commercials</a></li>
          <li><a title="Careers&nbsp;/&nbsp;jobs" href="#">Careers&nbsp;/&nbsp;jobs</a></li>
          <li><a title="Advertise on Sulekha" href="#">Advertise on Sulekha</a></li>
          <li><a title="Terms &amp; conditions" href="#">Terms &amp; conditions</a></li>
          <li><a title="Privacy policy" href="#">Privacy policy</a></li>
          <li><a title="Copyright policy" href="#">Copyright policy</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-bottom">
      <span>© 2016 Copyright Sulekha. All Rights Reserved.</span>
      <div class="social-icons">
        <a class="ftr-ic-twitter" title="Follow us on Twitter" href="http://twitter.com/sulekhadotcom" target="_blank"></a>
        <a class="ftr-ic-facebook" title="Be a fan on Facebook" href="http://www.facebook.com/Sulekhadotcom" target="_blank"></a>
        <a class="ftr-ic-pinterest" title="Pinterest" href="http://www.pinterest.com/sulekhadotcom/" target="_blank"></a>
        <a class="ftr-ic-google-plus" title="Google Plus" href="https://plus.google.com/+sulekha" target="_blank"></a>
      </div>
    </div>
  </div>
</div>