<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand mizzcall-logo">Mizz Call</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right nav-custom">
        <li><a ui-sref="login" class="head">Business owners<span class="hr"></span></a></li>
        <li><a ui-sref="dashboard" class="head">Admin<span class="hr"></span></a></li>
        <li><a ui-sref="login" class="head">Sign in</a><span class="hr"></span></li>
      </ul>
    </div>
  </div>
</nav>